body {
  font-family: 'Raleway', sans-serif;
  background: #E0B60A;
  background: -webkit-linear-gradient(top left, #E0B60A, #EBEBEB);
  background: -moz-linear-gradient(top left, #E0B60A, #EBEBEB);
  background: linear-gradient(to bottom right, #E0B60A, #EBEBEB);
}